{% extends "base.html" %}

{% block content %}
    <h1>Hello Admin</h1>
    <p>Do you want to</p>
    <button id="create">Create new user</button>
    <button id="delete">Delete existing user</button>
    <button id="update">Update user's information</button>
    <br> <br>
    <button id='logout'><a href="../../logout">Logout</button>
    <br>
    <script>
        document.getElementById("create").onclick = function () {
            location.href = "/create";
        }
        document.getElementById("delete").onclick = function () {
            location.href = "/delete";
        }
        document.getElementById("update").onclick = function () {
            location.href = "/update";
        }
    </script>
{% endblock %}
