<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>IFS4205</title>{% endblock %}
</head>
<body>
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>