<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        .container {
            padding: 16px;
        }
    </style>
</head>
<body>
<form class="user" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="verification_code"><b>verification_code</b></label>
            <input type="text" placeholder="input verification code" name="verification_code" required>

            <button type="submit">verify</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
    </script>
</body>
</html>