{#here is the page that the user reset the password, need user to input their username and password#}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        .container {
            padding: 16px;
        }
    </style>
</head>
<body>
<form class="user" method="post">
        {% csrf_token %}
         <div class="container">
                <label for="username"><b>username</b></label>
                <input type="text" placeholder="Enter user name" name="username" required>

                <label for="psw"><b>password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">reset</button>
            </div>
    </form>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
    </script>
</body>
</html>