{% extends "base.html" %}

{% block content %}
    <h1>Hello</h1>
    <p>Are you a/an</p>
    <button id="user">User</button>
    <button id="SHN Officer">SHN Officer</button>
    <button id="Admin">Admin</button>

    <script>
        document.getElementById("user").onclick = function () {
            location.href = "user/login";
        }
        document.getElementById("SHN Officer").onclick = function () {
            location.href = "SHN_officer/login";
        }
        document.getElementById("Admin").onclick = function () {
            location.href = "admin_officer/login/";
        }
    </script>
{% endblock %}

