{% extends "base.html" %}

{% block content %}
    <h1>Hello Officer</h1>
    <p>Details:</p>
    <ul>
        {% for k, v in data.items %}
{#            <div class="container" style="background-color:#f1f1f1">#}
            <ul>
                {% for key, value in v.items %}
{#                    <div class="container" style="background-color:#f1f1f1">#}
                    <li>{{ key }}: {% if value %} {{ value }} {% else %} ***** {% endif %}</li>
                {% endfor %}
                <span id="update"> <a href="#">Update swab test</a></span>
                <br>
                <br>
            </ul>
            </div>
        {% endfor %}
    </ul>

    <button id='logout'><a href="../../logout">Logout</button>

    <script>
    document.getElementById("update").onclick = function () {
        location.href = "/update";
    }
    </script>
{% endblock %}
