{% extends "base.html" %}

{% block content %}
    <h1>Update Swab Status</h1>
    <form class="officer" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="username"><b>username</b></label>
            <input type="text" placeholder="input user username" name="username" required>
            <br>
            <br>
            <label for="result"><b>swab test result</b></label>
            <select id="result" name="swab test result" size="2">
                <option value="positive">Positive</option>
                <option value="negative">Negative</option>
            </select><br><br>
            <input type="submit">
        </div>
    </form>
{% endblock %}
