{% extends "base.html" %}

{% block content %}
    <h1>Update Success!</h1>
    <button id="back">Back to main page</button>

    <script>
        document.getElementById("back").onclick = function () {
            location.href = "../../..";
        }
    </script>
{% endblock %}