{% extends "base.html" %}

{% block content %}
    <h1>Stay Positive!</h1>
    <p>Details:</p>
    <ul>
        <li><strong>Username:</strong> {{ username }}</li>
        <li><strong>Contact number:</strong> {{ contact_number }}</li>
        <li><strong>Country code:</strong> {{ country_code }}</li>
        <li><strong>Vaccination status:</strong> {{ vaccinated }}</li>
        <li><strong>Time of vaccination:</strong> {{ vaccinated_time_stamp }}</li>
        <li><strong>Covid Status:</strong> {{ latest_covid_test }}</li>
        <li><strong>QO start date:</strong> {{ start_date }}</li>
        <li><strong>QO end date:</strong> {{ end_date }}</li>
        <li><strong>QO_location:</strong> {{ QO_location }}</li>
    </ul>

    <button id='logout'><a href="../../logout">Logout</button>

{% endblock %}