<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        .container {
            padding: 16px;
        }
    </style>
</head>
<body>
    <form class="user" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="username"><b>username</b></label>
            <input type="text" placeholder="input username" name="username" required>
            <label for="password"><b>password</b></label>
            <input type="password" placeholder="enter password" name="password" required>
            <label for="phone"><b>phone_number</b></label>
            <input type="text" placeholder="enter phone number" name="contact_number" required>
            <button type="submit">Login</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
    </script>
</body>
</html>