<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" class="mb-2">
    <h3>
      <button class="btn btn-dark btn-block" v-on:click="greet">Log In</button>
    </h3>
  </div>
</template>

<script>



export default {
  name: 'HomePage',
  methods: {
    greet: function handleLogin() {
      this.$router.push('/login');
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>


