<template>
  <div class="hello">
    <form>
      <div class="form-group">
        <label>Username</label>
        <input type="username" v-model="usr" class="form-control"/>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" v-model="pwd" class="form-control"/>
      </div>

      <div class="form-group">
        <label>User type</label>
        <br>
        <select v-model="role" class="form-control mb-2">
        <option>User</option>
        <option>Official</option>
        <option>Admin</option>
        </select>
      </div>

      <button class="btn btn-dark btn-block" v-on:click="greet">Sign In</button>
    </form>
  </div>
</template>

<script>
// import axios from 'axios';
export default {
  name: 'Login',
  props: {
    usr: String,
    pwd: String,
    role: String
  },
  methods: {
    greet: function handleLogin() {
      if (this.role == "User")
        this.$router.push('/main-user');
      else if (this.role == "Official")
        this.$router.push('/main-official');
      else if (this.role == "Admin")
        this.$router.push('/main-admin');
    }
  }
}
</script>

